<p-toast></p-toast>
<div class="admin-page">
  <p-card
    [header]="editMode ? 'update User' : 'Add User'"
    [subheader]="
      editMode ? 'Click here to update new User' : 'Click here to add new User'
    "
  >
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-right">
            <p-button
              [label]="editMode ? 'Update' : 'Create'"
              icon="pi pi-plus"
              styleClass="p-button-success mr-1"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              label="Cancel"
              icon="pi pi-arrow-circle-left"
              styleClass="p-button-secondary ml-1"
              routerLink="form"
              (click)="onCancelBtnClicked()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
      <div class="grid">
        <div class="col-12">
          <div class="card">
            <form [formGroup]="form">
              <div class="formgrid grid mt-2">
                <div class="field col-12 md:col-6">
                  <label for="firstname6">Name</label>
                  <input
                    formControlName="name"
                    id="firstname6"
                    type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  />
                  <small
                    *ngIf="isSubmitClicked && !this.form.value.name"
                    id="username2-help"
                    class="p-error block"
                    >Name is not available.</small
                  >
                </div>
                <div class="field col-12 md:col-6">
                  <label for="firstname6">Password</label>
                  <p-password
                    formControlName="password"
                    id="password"
                    class="user-form-custom-password-input"
                  ></p-password>
                  <small
                    *ngIf="isSubmitClicked && !this.form.value.password"
                    id="username2-help"
                    class="p-error block"
                    >Password is not available.</small
                  >
                </div>
                <div class="field col-12 md:col-6">
                  <label for="lastname6">Email</label>
                  <input
                    formControlName="email"
                    id="lastname6"
                    type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  />
                  <small
                    *ngIf="isSubmitClicked && !this.form.value.email"
                    id="username2-help"
                    class="p-error block"
                    >Email is not available.</small
                  >
                </div>
                <div class="field col-12 md:col-6">
                  <label for="lastname6">Phone</label>
                  <input
                    formControlName="phone"
                    id="lastname6"
                    type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  />
                  <small
                    *ngIf="isSubmitClicked && !this.form.value.phone"
                    id="username2-help"
                    class="p-error block"
                    >Phone is not available.</small
                  >
                </div>
                <div class="field col-12 md:col-6">
                  <label for="lastname6">Street</label>
                  <input
                    formControlName="street"
                    id="lastname6"
                    type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  />
                </div>
                <div class="field col-12 md:col-6">
                  <label for="lastname6">Apartment</label>
                  <input
                    formControlName="apartment"
                    id="lastname6"
                    type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  />
                </div>
                <div class="field col-12 md:col-6">
                  <label for="lastname6">zip</label>
                  <input
                    formControlName="zip"
                    id="lastname6"
                    type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  />
                </div>
                <div class="field col-12 md:col-6">
                  <label for="lastname6">City</label>
                  <input
                    formControlName="city"
                    id="lastname6"
                    type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  />
                </div>
                <div class="field col-12 md:col-6">
                  <label for="lastname6">Country</label>
                  <input
                    formControlName="country"
                    id="lastname6"
                    type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  />
                  <small
                    *ngIf="isSubmitClicked && !this.form.value.country"
                    id="username2-help"
                    class="p-error block"
                    >Country is not available.</small
                  >
                </div>
                <div class="field col-12 md:col-2">
                  <label for="lastname6">Is Admin</label><br />
                  <p-inputSwitch formControlName="isAdmin"></p-inputSwitch>
                  <small
                    *ngIf="isSubmitClicked && !form.value.isAdmin"
                    id="username2-help"
                    class="p-error block"
                    >isAdmin is not available.</small
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>
