body,
// .p-component {
//   font-family: 'Open Sans. sans-serif';
//   font-size: 14px;
// }
.p-component {
  font-family: 'Roboto', 'sans-serif';
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul {
  // @include reset-list;
}
